/* 最新2.19 9:30 */
body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100vw;
}

body p {
  font-size: 12px;
}

/* <h1>の背景画像　cssに入れる
  <img src="image/sp_tn_hd_bg.png" alt=""> */

/* ↓ここからヘッダー  ^^^^^^^^^^^^^^^^^^^^^ */
/* ヘッダー */
header {
  background-image: url(../image/pc_tn_hd_bg.png);
  width: 100vw;
  /* height:667px; */
  background-size: cover;
  margin: 0 0;
}


/*↓ <h1>の台南漢字ロゴ画像 */

.bg_img {
  /* width: 199px; */
  height: 372px;
  margin: 112px 80px;
}



/* ヘッダーの右下の説明文 */
.top_page {
  margin: 0 0 0 auto;
  font-weight: bold;
  width: 247px;
  font-size: 12px;
  color: #fff;
  line-height: 1.6em;
}

/* /////////////////////////////////////////////////////// */



/* /////////////////////////////////////////////////////// */
/* ↓ヘッダーの次に書く */
.icon {
  display: none;
}


/* /////////////////////////////////////////////////////// */
/* -------------------------------------------------- */
/*  ↓ここから main(メイン) ↓  */


main {
  margin: 0 40px 0 8px;
}



/*  ↓ attraction ページ   */

/* <h2>の「Attraction 観光名所」見出し */

/* h2 {
  background-image: url(../image/sp_tn_main_midash.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  width: 220px;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 24px;
} */



/* --------------------------------------------- */
/*     <h2>Event<span class="subtitle">おすすめイベント</span></h2> */



h2 {
  background: url(/top/image/sp_top_main_midashi.png) no-repeat bottom center/cover;

  width: 60vw;
  height: 10vw;
  margin: 60px 77.5px 40px 77.5px;
  font-size: 6.4vw;
  font-weight: 400;
  text-align: center;
}


.subtitle {
  font-size: 4.3vw;
  margin-left: 16px;
}

/* --------------------------------------------- */

/*<h2、h3、h4>  */

/* <h2>の中の「attraction」 見出し クラス名：main_title */



/*<h2>*/
/* の中の「観光名所」見出し　クラス名： sub_title（サブタイトル） */
/* 
.sub_title {
  font-size: 12px;
  font-weight: 400;
}
 */


/* <h3 のクラス：main_mds>【共通見出し 2箇所】 */

/*安平老街、赤崁楼< */
.main_mds {
  text-align: center;
  margin: 20px;
}



/* ↓グルメの担仔麺などの太字 */

/* <h3の>クラス名：main_mds_mds
【共通見出し 5箇所】 */
/*グルメの4箇所・ヒーリングの1箇所*/
.main_mds_mds {
  text-align: center;
  margin: 20px;

}



/* 
担仔麺（タンツーメン）、
蝦仁飯（エビ飯）、
小籠包（ショウロンポー）、
鴨肉飯（ヤーロウファン）
白河蓮花（ヒーリングに有り）*/


/* ↑　グルメの担仔麺などの太字 */






/* ↓ ｛画像の共通クラス4箇所あり｝ */
/*
attractioの
画像1（安平老街）、
画像4（赤崁楼）、

healingの
画像11（白河蓮花）、
画像12（葉の上に人）
クラス名： main_image */

.main_image {
  width: 90vw;
  height: auto;
  margin: 20px;
}

/* ↓ 【共通2箇所あり】 */
/* アトラクション（attraction）の水色説明（長文）の
/*クラス名：at_text */
.at_text {
  background-color: rgba(100, 201, 155, 0.2);

  width: 90vw;
  height: auto;
  margin: 20px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  line-height: 1.6;

  /* 
  padding: 20px 16px;
  
  /* width: 80vw; */
  /* margin: 0 auto;*/


}

/* ★★★ */
/* 追加したもの*/
/*↑width:コメントアウトした */







/* 画像2、3、5、6のdivのクラス名：sub_image  */
.sub_image {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  /*  ↑width40vwとかにしてみる*/
  height: auto;
  margin: 0vw;
  margin-top: 20px;
}

/* ～～～～～～～～～～～～～～～～～ */
/* 追加した */
/* width:80vw;か90vw
height: auto;
*/
/* margin: 0vw; */

/* ～～～～～～～～～～～～～～～～～ */



/* ↓これどの位置に記述するか保留 */
/* 画像2、3、5，6（sub_image）を指すが保留 sub_picture img  */
.sub_picture img {
  width: 45vw;
  height: auto;
}

/*  ↑これどの位置に記述するか保留 */



/* ↓ 【共通2箇所あり】 */
/*アトラクションの水色説明文（短文）のdivの
クラス名：short */
.short {
  background-color: rgba(100, 201, 155, 0.2);
  /* width: 295px; */
  line-height: 1.6;
  margin-top: 20px;
  text-align: center;
  padding: 20px 16px;
  /* padding: 8px 0; */
}


/*  グルメ、ヒーリングの */
/* 共通説明(短文) テキスト 
divのクラス名：gr */



/* ↓ 【共通2箇所あり】 */
/* アトラクション（attraction）の水色説明（短文）の*/
/*クラス名：short */
.short_text {
  margin: 0;
}

.time {
  font-weight: bold;
  margin: 0;
}





/* vertical-align」を「縦方向の揃え位置 
middle:中央揃え
*/

/* .attraction { 
  vertical-align:middle;
} */




/* 水色枠背景じゃないほうの説明
.nm_message{ */
/* width: 225px;
  padding: 12px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  letter-spacing: 0;
} */



/* /////////////////////////////////////////////////////// */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ↓ グルメ　Gourmet */

/* グルメの中のフリガナ */
.gr_ruby {
  text-align: center;
}

/*  グルメ、ヒーリングの */
/* 共通説明(短文) テキスト 
divのクラス名：gr */

/*  グルメ短文　台南でしか味わえない～*/
/* .gr_syokai {

} */



/* グルメ共通紹介(長文)テキスト */
/* 蝦仁飯(エビ飯) */

.shokai_text {
  width: 75vw;
  padding: 12px 0;
  border-top: 1px solid #000;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  letter-spacing: 0;

}




/* /////////////////////////////////////////////////////// */
/* ↓Gourmet グルメ */



/* gurmetとhealingの上下の線　幅225 */
/* 内側の余白12px */


.midashi_text {
  border-top: 1px #000 solid;
  padding-top: 12px;
  border-bottom: 1px #000 solid;
  padding-bottom: 12px;
}

/* 
#gourmet .gourmet_text {
  font-weight: 
} */
/* 



/* ------------------------------------- */
/*画像を見るボタン */
/* #myBtn1 */

/* htmlだと
myModal1" class="modal">
        // <div class="modal-content"> */


.modal_btn {
  margin-left: 70vw;
}

.modal_img {
  width: 300px;
  height: auto;
}


#myBtn1 {
  border: 2px solid #EDA184;
  width: 120px;
  height: 36px;


}

#myBtn2 {
  border: 2px solid #EDA184;
  width: 120px;
  height: 36px;
}

#myBtn3 {
  border: 2px solid #EDA184;
  width: 120px;
  height: 36px;
}

#myBtn4 {
  border: 2px solid #EDA184;
  width: 120px;
  height: 36px;
}

/* ボタン太さ：カンプでは2 */
/* 幅：カンプではw120 h36px */
/* 内側余白上下12　左右24 */
/* .box {
border: 4px solid #EDA184;
padding: 12px 24px;
width: 184px;
height: 36px } */





/*入力内容を確認する*/

.submit {
  text-align: center;
}

input[type="submit"] {

  border: #EDA184;
  width: 120px;
  height: 36px;
  color: #000;
  padding: 16px 16.5px;
}


/* グルメ画像1 */
.img_grm1 {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}


/* .myBtn{
  background-image: url(../image/
  background-repeat: no-repeat;
  background-size:contain;
  font-size: 12px;  padding: 22px 40px;
} */


/* カピゾウp183 */
/* .submitBtn {
  text-align: center;
}
input[type='mybtn'] {
  background-color: #fff;
  color: antiquewhite;
  padding: 18px 80px;
} */

/* 
.point{
  background-color:rgba(108, 186  , 216,0.2);
  width: 295px;
  line-height: 1.6;
  margin-top: 20px;
  text-align: center;
  padding: 8px 0;
} */


/* .yabuguti{
  margin: 0;
}
.time{
  font-weight: bold;
  margin: 0;
} */

/* 
.flex{
  display: flex;
  justify-content: space-evenly
} */

/* 
.button{
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size:contain;
  font-weight:bold;
  font-size: 12px;  padding: 22px 40px;
} */

/* 
#myBtn{
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size:contain;
  font-weight:bold;
  font-size: 12px;  padding: 22px 40px;
} */
/* 
.long{
  padding: 22px 22px;
}
.access_h3{
border-bottom: 1px #000 solid;
padding-bottom: 8px;
} */

/* 
ul{
  list-style-type: none;
} */
*/
/* 
.vehicle{
  font-size: 12px;
  font-weight: bold;
}
h4::before{content:url(../image/Thumbs.db);
position: absolute;

}
.yuuyuucard{
  width: 100px;
}
.access li{
  list-style-type: square;
  font-size:30px;
}
@media screen and (min-width:768px) {
.MenuList{
 display: none;
}
.icon{
display: flex;
}