body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  max-width: 375px;
}

body p {
  font-size: 12px;
}

/* <h1>の背景画像　cssに入れる
  <img src="image/sp_tn_hd_bg.png" alt=""> */

header {
  background-image: url(../image/pc_tn_hd_bg.png);
  width: 100vw;
  /* height:667px; */
  background-size: cover;
  margin: 0 0;
}

/*   h2のところ<img src="image/sp_tn_main_midash.png" alt="スマートフォン見出し画像"> */
.bg_img {
  width: 199px;
  height: 372px;
  margin: 112px 80px;
}



/* /////////////////////////////////////////////////////// */
/* ↓ヘッターの次に書く */
.icon {
  display: none;
}


.top_page {
  margin: 0 0 0 auto;
  font-weight: bold;
  width: 247px;
  font-size: 12px;
  color: #fff;
  line-height: 1.6em;
}


.sub_picture {
  display: flex;
  justify-content: space-between;
}

.sub_picture img {
  width: 140px;
}

h2 {
  background-image: url(../image/sp_tn_main_midash.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  width: 220px;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 24px;
}

.sub_title {
  font-size: 12px;
  font-weight: 400;
}


/* vertical-align」を「縦方向の揃え位置 
middle:中央揃え
*/

/* .attraction { 
  vertical-align:middle;
} */


main {
  margin: 0 40px 0 8px;
}

.main_image {
  width: 295px;
  height: 180px;
}


.at_text {
  background-color: rgba(108, 186, 216, 0.2);
  padding: 20px 16px;
  width: 295px;
  line-height: 1.6;
}

h3 {
  text-align: center;
}

/* 水色枠背景じゃないほうの説明
.nm_message{ */
/* width: 225px;
  padding: 12px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  letter-spacing: 0;
} */



/* Gourmet グルメ */
/* 長文説明 */

.shokai_text {
  width: 225px;
  padding: 12px 0;
  border-top: 1px solid #000;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  letter-spacing: 0;

}




/* /////////////////////////////////////////////////////// */
/* ↓Gourmet グルメ */



/* gurmetとhealingの上下の線　幅225 */
/* 内側の余白12px */


.midashi_text {
  border-top: 1px #000 solid;
  padding-top: 12px;
  border-bottom: 1px #000 solid;
  padding-bottom: 12px;
}

/* 

/* 
.point{
  background-color:rgba(108, 186  , 216,0.2);
  width: 295px;
  line-height: 1.6;
  margin-top: 20px;
  text-align: center;
  padding: 8px 0;
} */


/* .yabuguti{
  margin: 0;
}
.time{
  font-weight: bold;
  margin: 0;
} */

/* 
.flex{
  display: flex;
  justify-content: space-evenly
} */

/* 
.button{
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size:contain;
  font-weight:bold;
  font-size: 12px;  padding: 22px 40px;
} */

/* 
#myBtn{
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size:contain;
  font-weight:bold;
  font-size: 12px;  padding: 22px 40px;
} */
/* 
.long{
  padding: 22px 22px;
}
.access_h3{
border-bottom: 1px #000 solid;
padding-bottom: 8px;
} */

/* 
ul{
  list-style-type: none;
} */
*/
/* 
.vehicle{
  font-size: 12px;
  font-weight: bold;
}
h4::before{content:url(../image/Thumbs.db);
position: absolute;

}
.yuuyuucard{
  width: 100px;
}
.access li{
  list-style-type: square;
  font-size:30px;
}
@media screen and (min-width:768px) {
.MenuList{
 display: none;
}
.icon{
display: flex;
}



} */