body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

body p {
  font-size: 12px;
}

header {
  max-width: 590px;
  width: 100%;
  margin: 0;
  background-image: url(../image/sp_tp_hd_bg.png);
  background-size: cover;
}

header h1 {
  margin: 0;
}

.taiwan {
  margin-left: 8px;
}

.icon {
  display: none;
}

.bg_img {
  /* width: 199px; */
  height: 372px;
  margin: 112px 80px;
}

.top_Page {
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  margin-left: 10%;
  line-height: 1.6em;
}

.sub_picture {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.sub_picture img {
  width: 95%;
}

section {
  margin-bottom: 60px;
}

#attraction {
  margin-left: 40px;
  margin-right: 40px;
}

h2 {
  background-image: url(../image/sp_tp_main_midashi.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  width: 220px;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 24px;
}

.sub_title {
  font-size: 12px;
  font-weight: 400;

}

main {
  margin: 0 auto;
  text-align: justify;
}

.main_image {
  width: 100%;
  /* height: 180px; */
  margin-bottom: 20px;
}

.produce_text {
  background-color: rgba(108, 186, 216, 0.2);
  padding: 20px 16px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 20px;
}

.nm_message {
  padding: 12px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  letter-spacing: 0;
  width: 100%;
}

h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.point {
  background-color: rgba(108, 186, 216, 0.2);
  padding: 20px 16px;
  margin: 0 auto;
  line-height: 1.6;
  margin-top: 20px;
  text-align: center;
  padding: 8px 0;
}

.point p {
  margin: 0;
}

.time {
  font-weight: bold;
  margin: 0;
}

.border {
  border-bottom: #000 1px solid;
  padding-bottom: 40px;
}

.flex {
  display: flex;
  justify-content: space-evenly
}

#nightMarket {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.modal img {
  width: 100%;
}

#myBtn1 {
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
  font-size: 12px;
  padding: 22px 40px;
  border-color: transparent;
  background-color: #fff;
}

#myBtn2 {
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
  font-size: 12px;
  padding: 22px 22px;
  border-color: transparent;
  background-color: #fff;
}

#myBtn3 {
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
  font-size: 12px;
  padding: 22px 40px;
  border-color: transparent;
  background-color: #fff;
}

#myBtn4 {
  background-image: url(../image/pc_tp_main_nm_yo_btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: bold;
  font-size: 12px;
  padding: 22px 40px;
  border-color: transparent;
  background-color: #fff;
}

.modal-content {
  background-color: #0180BE;
  width: 375px;
  height: 670px;
}

.modal-content .inModalTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 32px;
}

.inModalSentence {
  text-align: left;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;

}

.inModalTime {
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
}

#access {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

#access h2 {
  margin-bottom: 40px;
}

#access .access_h3 {
  display: inline;
  border-bottom: 1px #000 solid;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
}

.bg_access {
  width: 100%;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.vehicle {
  font-size: 12px;
  font-weight: bold;
}

h4::before {
  content: url(../image/Thumbs.db);
  position: absolute;

}

.yuuyuucard {
  width: 100px;
  margin-top: 12px;
}

.access li {
  list-style-type: square;
  font-size: 30px;
}

@media screen and (min-width:768px) {
  .MenuList {
    display: none;
  }

  .icon {
    display: flex;
  }



}