body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body p{
  font-size: 12px;
}
h1{
  background-image: url(../image/sp_tp_hd_bg.png);
  width: 100vw;
  /* height:667px; */
  background-size: cover;
  margin: 0 0;
}
.top_Page{
  font-weight: bold;
  font-size: 12px;
  color: #fff;  
  margin-left:130px;
  line-height: 1.6em;
}
.bg_img{
  width: 199px;
  height: 372px;
  margin: 112px 80px;
}
.sub_picture{
  display: flex;
}
h2{
  background-image: url(../image/sp_tp_main_midashi.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
  width:85vw;
}
h2{
vertical-align: bottom;
font-size: 24px;
}
.sub_title{
  font-size: 12px;
}
.attraction{
  vertical-align: middle;
}
main{
  margin: 0 40px 0 8px;
}
.attraction_Page{
  background-color:rgba(108, 186  , 216,0.2);
  padding: 20px 16px;
}